* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #99a4aa;
  color: #fff;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 200px;
}
.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 26px;
  border-radius: 8px;
}
.icon {
  width: 34px;
  height: 34px;
  stroke: #3b43aed3;
  cursor: pointer;
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}
.container h1 span {
  color: #3b43aed3;
  border-bottom: 4px solid #3b43aed3;
  padding-bottom: 7px;
}
.display input {
  border: none;
  outline: none;
  font-size: 24px;
}
button {
  border: none;
  outline: none;
  background-color: #3b43aed3;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 16px 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

button .icon {
  margin-right: 10px;
  stroke: #060e82d3;
}
